
:root[data-theme="dark"] {
    --color-text-500: hsl(0, 0%, 90%);
    --color-text-600: hsl(0, 0%, 70%);
    --color-bg-400: hsl(220, 20%, 30%);
    --color-bg-500: hsl(220, 20%, 20%);
    --color-bg-600: hsl(220, 20%, 15%);
    --color-bg-700: hsl(220, 20%, 10%);
    --color-primary-500: hsl(220, 50%, 60%);
    --color-primary-600: hsl(220, 50%, 50%);
    --color-accent-500: hsl(0, 50%, 60%);
    --color-green-500: hsl(110, 50%, 60%);  /* i dont know what it is used for */
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--color-bg-500);
    color: var(--color-text-500);
    line-height: 1.5;
}

img, picture, video, canvas, svg {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--color-primary-500);
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    color: var(--color-primary-600)
}

:focus-visible {
  outline: 1px solid var(--color-accent-500);
  outline-offset: 2px;
}

::selection {
  background-color: var(--color-accent-500);
  color: var(--color-bg-500);
}

hr {
    margin: 1em auto;
    width: 90%;
    height: 2px;
    border: none;
    background-color: var(--color-bg-400);
}

ul, ol {
    margin-left: 1em;
}

table, pre {
    margin: 0.5em auto;
}

th, td, pre {
    padding: 0.5em;
}

code:not(.astro-code code), pre {
    border-radius: 0.2em;
}

code:not(.astro-code code) {
    font-size: inherit;
    font-family: monospace, monospace;  /* 修复默认的font-size缩放行为 */
    background-color: var(--color-bg-600);
    padding: 0.1em 0.2em;
}

pre {
    max-width: 100%;
    overflow-x: auto;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--color-bg-600);
}

thead th {
    background-color: var(--color-bg-600);
}

tr:nth-child(even) {
    background-color: var(--color-bg-400)
}

th, td {
    word-break: break-word;
}

th + th, td + td {
    border-left: 1px solid var(--color-bg-600);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

/**
  /// title separetor ///
*/

h1, h2 {
    position: relative;
}

h1::after, h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    margin: 0 auto;
    border: none;
    background-color: var(--color-bg-400);
}